:root {
   --app-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: var(--app-height);
    /* height: 100vh; */
}

.wow {
    opacity: 0;
}

.mobile {
    width: 100%;
}

.mobile-inner {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.mobile-inner img {}

.mobile-inner p {
    color: #676767;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px;
}

.mobile-inner-header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    z-index: 33;
    left: 0px;
}

.mobile-inner-header-icon {
    color: #ffffff;
    height: 50px;
    font-size: 25px;
    text-align: center;
    float: right;
    width: 50px;
    position: relative;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.mobile-inner-header-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.mobile-inner-header-icon span {
    position: absolute;
    left: calc((100% - 25px) / 2);
    top: calc((100% - 1px) / 2);
    width: 25px;
    height: 1px;
    background-color: rgb(199, 34, 27);
}

.mobile-inner-header-icon span:nth-child(1) {
    transform: translateY(4px) rotate(0deg);
}

.mobile-inner-header-icon span:nth-child(2) {
    transform: translateY(-4px) rotate(0deg);
}

.mobile-inner-header-icon-click span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clickfirst;
}

.mobile-inner-header-icon-click span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clicksecond;
}

@keyframes clickfirst {
    0% {
        transform: translateY(4px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes clicksecond {
    0% {
        transform: translateY(-4px) rotate(0deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.mobile-inner-header-icon-out span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outfirst;
}

.mobile-inner-header-icon-out span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outsecond;
}

@keyframes outfirst {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    100% {
        transform: translateY(-4px) rotate(0deg);
    }
}

@keyframes outsecond {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    100% {
        transform: translateY(4px) rotate(0deg);
    }
}

.mobile-inner-nav {
    overflow: auto;
    max-height: calc(100vh - 50px);
}

.mobile-inner-nav {
    background-color: hsla(224, 27%, 35%, .6);
    width: 100%;
    position: absolute;
    top: 50px;
    padding-bottom: 0%;
    display: none;
    z-index: 444;
}

.mobile-inner-nav a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #fff;
    transition: all 0.5s;
}

.mobile-inner-nav dl {
    display: none;
}

.mobile-inner-nav dl dd {
    line-height: 33px;
    text-decoration: none;
    text-indent: 3em;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
    font-size: 14px;
}

.mobile-inner-nav li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 53px;
    text-indent: 20px;
}

.mobile-inner-nav h2.h2tit {
    line-height: 50px;
    text-decoration: none;
    text-indent: 2em;
    font-size: 16px;
    color: #FFFFFF;
    /* border-bottom:solid 1px rgba(255,255,255,0.3); */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
}

.mobile-inner-nav h2.h2tit a {
    color: #FFFFFF;
}

.mobile-inner-nav a {
    border-bottom: none;
}

.mobile-inner-nav li {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: returnToNormal;
    animation-name: returnToNormal;
}

@-webkit-keyframes resize {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale(5, 5);
        transform: scale(5, 5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes resize {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale(5, 5);
        transform: scale(5, 5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.mobile-inner-nav li:last-child h2.h2tit {
    border-bottom: none;
}

.mobile-inner-nav li .h3tit {
    height: 50px;
    position: relative;
    background: url(../images/51_icon_search@2x.png) no-repeat 30px center;
    background-size: 17px;
}

.mobile-inner-nav li .words {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-indent: 60px;
    font-size: 15px;
    color: #fff;
    background: url(../images/search2.png) no-repeat 30px center;
    background-size: 20px;
}

.mobile-inner-nav li:last-child {
    border-bottom: none;
}

.mobile-inner-nav li form {
    display: block;
    width: 100%;
    height: 100%;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.fadeInUp {
    animation-duration: 1.76s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

* {
    font-family: PingFangSC-Regular, PingFang SC, "Microsoft YaHei", "Arial";
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr,
span {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

html,
body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}

body {
    font-family: "Microsoft YaHei" ! important;
    color: #000000;
    background: #fff;
    margin: 0 auto;
    padding: 0px;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}



input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"] {
    -webkit-appearance: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}

input {

    -webkit-appearance: none;
}

input {
    -webkit-appearance: none !important;
    border-radius: 0;
}

button {
    cursor: pointer;
}

textarea {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: #235aa7;
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

img {
    border: 0px;
    vertical-align: middle;
}

li {
    list-style: none;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}

.loadingfa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    color: #1f8adf;
    position: absolute;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    top: 50%;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-overflow-scrolling: touch;
    background: url(../images/bg.jpg) no-repeat center 0;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    line-height: 1;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate;
}

.xuanzhuan img {
    display: block;
    width: 100%;
}

.pc {
    display: block;
}

.wap {
    display: none;
}

.clearflex:after {
    content: "";
    display: table;
    clear: both;
}


.main {
    position: relative;
    overflow: hidden;
	width:100%;
    height: 100vh;
}

.main .content {
    text-align: center;
    position: relative;
    width:100%;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* overflow: hidden; */
    margin: auto;
	
}



.videoBox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    
}

.videoBox .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    object-fit:cover;
}

.videoBox::after {
    z-index: 1;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

@keyframes move {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.main .content .ic1 {
    animation: ripple 1s infinite;
    -moz-animation: ripple 1s infinite;
    -webkit-animation: ripple 1s infinite;
    -o-animation: ripple 1s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/ci1.png) no-repeat center center;
    left: 0;
    top: 0px;
    z-index: 1;
    background-size: 100%;
    opacity: .1;
}

@keyframes ripple {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.main .content .ic2 {
    border-radius: 50%;
    background: url(../images/cir1.png) no-repeat center center;
    position: absolute;
    width: calc(540/1046*100vh);
    height: calc(540/1046*100vh);
    position: absolute;
    top: 50%;
    left: 48.5%;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    background-size: 70%;
}



.main .content .logo { position: relative; z-index: 5; bottom: -33%;}
.main .content .logo img { width: calc(300/1046*100vh); }

.main .content .slogan { position: relative; z-index: 5; bottom: -38%; }
.main .content .slogan img { width: calc(390/1046*100vh);}

.slogan1 {position: absolute; width: 100%; }
.slogan2 {position: absolute; width: 100%; }

.main .content .btn { position: relative; z-index: 5; bottom: -40%; /*left: 1%;*/ }
.main .content .btn a { width: 100%;  display: inline-block; height: calc(150/1046*100vh); background: url(../images/btn.png) no-repeat center center; background-size: auto 100%; }

.main .content .contact { position: relative; z-index: 5; bottom: -45%; /*left: 1%;*/}
.main .content .contact a { width: calc(53/1046*100vh); display: inline-block; height: calc(50/1046*100vh); background: url(../images/cont.png) no-repeat center center; background-size: contain;}
.main .content .contact a:hover { opacity: 0.5;}


.footer {
    min-height: 100px;
    height: calc(125/1060*100vh);
    background: #001529;
    border-top: 1px solid #596479;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.footer .logo {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #596479;
    padding-right: 4vw;
}

.footer .logo img {}

.footer .nav {
    display: inline-block;
    vertical-align: middle;
}

.footer .nav ul {
	display: flex;
}

.footer .nav ul li {
    display: flex;
	align-items: center;
    position: relative;
    margin-left: 3vw;
	height: 110px;
}

.footer .nav ul li.current .list {
    visibility: visible;
    opacity: 1;
    z-index: 5;
    top: -220px;
}

.footer .nav ul li .list {
    position: absolute;
    left: 0;
    top: -248px;
    text-align: left;
    width: 239px;
    height: 220px;
    background: rgba(2, 1, 0, 0.8);
    border: 1px solid #ba9f6a;
	border-radius: 5px;
    padding-top: 42px;
    padding-left: 44px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: -260px;
}

.footer .nav ul li .list dd img {
    margin-right: 10px;
}

.footer .nav ul li .list dd {
    margin-bottom: 20px;
}

.footer .nav ul li .list dd a {
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #FFFFFF;
}

.footer .nav ul li .h2tit {}

.footer .nav ul li .h2tit a {
    display: flex;
    align-items: center;
}
.footer .nav ul li .h2tit a .icon {
	width: 44px;
    height: 44px;
}
.footer .nav ul li:nth-child(01) .h2tit a .icon {
	background: url(../images/icon1.png) no-repeat center center;
}
.footer .nav ul li:nth-child(02) .h2tit a .icon {
	background: url(../images/icon2.png) no-repeat center center;
}
.footer .nav ul li:nth-child(03) .h2tit a .icon {
	background: url(../images/icon3.png) no-repeat center center;
}
.footer .nav ul li:nth-child(04) .h2tit a .icon {
	background: url(../images/icon4.png) no-repeat center center;
}
.footer .nav ul li:nth-child(05) .h2tit a .icon {
	background: url(../images/icon5.png) no-repeat center center;
}

.footer .nav ul li:nth-child(01):hover .h2tit a .icon {
	background: url(../images/icon1a.png) no-repeat center center;
}
.footer .nav ul li:nth-child(02):hover .h2tit a .icon {
	background: url(../images/icon2a.png) no-repeat center center;
}
.footer .nav ul li:nth-child(03):hover .h2tit a .icon {
	background: url(../images/icon3a.png) no-repeat center center;
}
.footer .nav ul li:nth-child(04):hover .h2tit a .icon {
	background: url(../images/icon4a.png) no-repeat center center;
}
.footer .nav ul li:nth-child(05):hover .h2tit a .icon {
	background: url(../images/icon5a.png) no-repeat center center;
}

.footer .nav ul li .h2tit a .icon img {}

.footer .nav ul li .h2tit a .text {
    text-align: left;
    padding-left: 10px;
}

.footer .nav ul li .h2tit a .text .cn {
    font-size: 21px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #FFFFFF;
}

.footer .nav ul li .h2tit a .text .en {
    font-size: 12px;
    font-family: Microsoft YaHei UI;
    font-weight: 300;
    color: #7c828f;
    line-height: 1;
    opacity: 0.5;
    padding-top: 6px;
    display: block;
}

.footer .nav ul li:hover .h2tit a .text .cn {
    font-size: 21px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #cbbb95;
}

.footer .nav ul li:hover .h2tit a .text .en {
    font-size: 12px;
    font-family: Microsoft YaHei UI;
    font-weight: 300;
    color: #aa9171;
    line-height: 1;
    opacity: 0.5;
    padding-top: 6px;
    display: block;
}

.footer .nav ul li .slide {
    width: 508px;
    height: 356px;
    background: rgba(2, 1, 0, 0.8);
    border: 1px solid #1254EA;
    position: absolute;
    bottom: 88px;
    left: 50%;
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    overflow: hidden;
    /* padding-top: 35px; */
    /* padding-bottom: 35px; */
    height: 0;
    opacity: 0;
    z-index: 66;
}

.footer .nav ul li .slide dl {}

.footer .nav ul li .slide dl dd {
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #000000;
    line-height: 35px;
    margin-bottom: 15px;
}

.footer .nav ul li .slide dl dd * {
    display: inline-block;
    vertical-align: middle;
}

.footer .nav ul li .slide dl dd .ms {
    background: #FFFFFF;
    line-height: 35px;
    width: 66px;
    text-align: center;
}

.footer .nav ul li .slide dl dd img {
    margin: 0px 12px;
}

.footer .nav ul li .slide dl dd .url {
    width: 189px;
    line-height: 35px;
    background: #fff;
}

.footer .nav ul li .slide dl dd a {
    width: 116px;
    line-height: 35px;
    background: linear-gradient(0deg, #3329C6, #0C5CF1);
    font-size: 16px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 11px;
}

.footer *,
.main * {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.footer .nav ul li.current .slide {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 356px;
    opacity: 1;
}

.waplogo {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #1F1F1F;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    text-align: center;
    z-index: 5;
    padding: calc(17/768*100vw) 0px;
}

.waplogo img {
    width: calc(248/768*100vw);
}

.waptext {
    text-align: center;
    background: #000000;
    font-size: 12px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    color: #7A7A7A;
    line-height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 4;
}

.waptext a {
    color: #0F61FB;
}

.main .content * {
    max-width: 100%;
}



.footer .nav ul li .slide dl dd a:hover {
    background: red;
}


@media screen and (max-width: 430px){

.main .content .logo { position: relative; z-index: 5; bottom: -33%;}
.main .content .logo img { width: calc(250/1046*100vh); }


.main .content .btn { position: relative; z-index: 5; bottom: -40%; }
.main .content .btn a { width: 100%;  display: inline-block; height: calc(130/1046*100vh); background: url(../images/btn.png) no-repeat center center; background-size: auto 100%; }
    
}
