
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.videoBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.videoBox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    margin-bottom: 20px;
    width: 60%;
    max-width: 300px;
    z-index: 2;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.btn {
    width: 1000%;
    max-width: 300px;
    z-index: 2;
}

.btn a {
    display: block;
    width: 100%;
    height: 250px;
    background: url('../images/btn.png') no-repeat center center;
    background-size: contain;
}
